* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Andika", sans-serif;
  box-sizing: border-box;
}
html {
  font-size: max(110%, 0.8vw);
}
body {
  background-color: var(--bg-color-secondary);
  color: var(--font-color);
}
body.dark-mode {
  --bg-color-secondary: hsl(0, 0%, 11%);
  --border-color: hsl(0, 0%, 82%);
  --container-color: hsl(0, 0%, 25%);
  --font-color: hsl(0, 0%, 100%);
  --font-color-optional: hsl(0, 0%, 0%);
}
input,
button {
  font-size: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
.footer__a {
  text-decoration: underline;
}
:root {
  --bg-color-secondary: hsl(0, 0%, 90%);
  --bg-color-body: hsl(24, 100%, 50%);
  --border-container-color: hsl(0, 0%, 39%);
  --container-color: hsl(0, 0%, 85%);
  --font-color: hsl(0, 0%, 7%);
  --font-color-static: hsl(0, 0%, 7%);
  --border-color: hsl(0, 0%, 7%);
  --font-color-optional: hsl(0, 0%, 100%);
  --footer-height: 3rem;
  --full-height-page: calc(100vh - var(--header-height));
  --header-height: 5rem;
  --header-svg-size: calc((var(--header-height) - 1rem));
  --svg-standard-size: 3rem;
  --width-limit: 80rem;
}
.main {
  display: flex;
  min-height: var(--full-height-page);
  max-width: var(--width-limit);
  position: relative;
  justify-content: center;
  gap: 1rem;
  margin: auto;
  padding: 1em 0;
}
.menu-container {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.8rem;
}
.menu-header__title {
  font-size: 1.2em;
  font-weight: 400;
}
.overflow-x {
  overflow-x: auto;
}
.overflow-y {
  overflow-y: auto;
}
.grid {
  display: grid;
}
.place-items-center {
  place-items: center;
}
.flex {
  display: flex;
}
.flex__gap-sm {
  gap: 0.5rem;
}
.flex__gap-md {
  gap: 1rem;
}
.flex__gap-bg {
  gap: 2em;
}
.flex__row {
  flex-direction: row;
}
.flex__column {
  flex-direction: column;
}
.flex__sp-center {
  justify-content: center;
}
.flex__sp-btw {
  justify-content: space-between;
}
.flex__sp-ard {
  justify-content: space-around;
}
.flex__sp-evl {
  justify-content: space-around;
}

.flex__item-start {
  align-items: start;
}
.flex__item-center {
  align-items: center;
}
.flex__container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.flex__wrap {
  flex-wrap: wrap;
}
.height__full {
  height: 100%;
}
.width__30 {
  width: 30%;
}
.width__40 {
  width: 40%;
}
.width__md {
  width: 50%;
}
.width__60 {
  width: 60%;
}
.width__70 {
  width: 70%;
}
.width__90 {
  width: 90%;
}
.width__full {
  width: 100%;
}
.margin__all-right {
  margin-right: auto;
}
.margin__all-left {
  margin-left: auto;
}
.svg-container__small {
  height: 1.5rem;
  width: 1.5rem;
  object-fit: contain;
}
.image-holder__small {
  height: 1.5rem;
  width: 1.5rem;
  background-color: gray;
  border-radius: 50%;
}
.image-holder__medium {
  height: 2rem;
  width: 2rem;
  background-color: gray;
  border-radius: 50%;
}
.image-holder {
  height: var(--svg-standard-size);
  width: var(--svg-standard-size);
  background-color: gray;
  border-radius: 50%;
}
.profile-image {
  margin: 0 1rem;
}
.profile-nickname {
  padding-left: 0.5rem;
  font-size: 0.9rem;
  font-weight: lighter;
}
.profile-nickname::before {
  content: "(";
}
.profile-nickname::after {
  content: ")";
}
.separator {
  position: relative;
}
.separator::after {
  content: "";
  width: 90%;
  height: 0.1rem;
  background-color: var(--border-color);
  bottom: -0.2rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.border__radius-sm {
  border-radius: 0.5rem;
}
.bg__primary {
  background-color: var(--bg-color-body);
}
.bg__container {
  background-color: var(--container-color);
}
.color-text {
  color: var(--font-color);
}
.container__bg-main {
  background-color: var(--bg-color-secondary);
}
.container__bg-container {
  background-color: var(--container-color);
}
.cursor__pointer {
  cursor: pointer;
}
.pd-top__bg {
  padding-top: 1.5rem;
}
.pd-top__md {
  padding-top: 1rem;
}
.pd-left__md {
  padding-left: 1rem;
}
.pd-md {
  padding: 1rem;
}
.pd-sm {
  padding: 0.5rem;
}
.text-center {
  text-align: center;
}
.relative {
  position: relative;
}
.user__active,
.user__offline {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  left: 70%;
  top: 0;
  position: absolute;
}
.user__active {
  background-color: rgb(33, 224, 33);
}
.user__offline {
  background-color: rgb(197, 194, 194);
}
.user__image-sm {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 50%;
}
.user__image-smaller {
  height: 2rem;
  width: 2rem;
  object-fit: cover;
  border-radius: 50%;
}
.hamburger-btn {
  display: none;
  flex-direction: column;
  place-content: center;
  position: fixed;
  bottom: 0;
  right: 50%;
  transform: translate(50%, -15%);
  height: 3.5em;
  width: 3.5rem;
  background-color: var(--bg-color-secondary);
  border-radius: 50%;
  border: thin solid black;
  cursor: pointer;
  transition: 0.5s;
  z-index: 999;
}
.bar {
  width: 2rem;
  height: 3px;
  background-color: var(--bg-color-body);
  margin: 5px auto;
}
.hamburger-btn.open .bar:nth-child(1) {
  display: none;
}
.hamburger-btn.open .bar:nth-child(2) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger-btn.open .bar:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}
/*-----------------header---------------*/
.current {
  background-color: var(--bg-color-secondary);
  border-radius: 0;
  height: var(--header-height);
  width: 4.5rem;
  display: flex;
  align-items: center;
}
.header {
  background-color: var(--bg-color-body);
  display: flex;
  justify-content: center;
  height: var(--header-height);
  padding: 0 1rem;
  gap: 5rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header > a {
  display: flex;
  align-items: center;
}
.logo-container img {
  height: calc(var(--header-height) - 1rem);
  width: auto;
}
.width__limit {
  max-width: var(--width-limit);
}
.header__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max(60%, 20rem);
  padding: 0 1rem;
}
.header__nav__navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  min-width: 14rem;
  max-width: 20rem;
  gap: 1rem;
}
.navbar-item {
  background-color: var(--bg-color-secondary);
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
  cursor: pointer;
}
.navbar-item:not(.current):hover,
.navbar-item:not(.current):active {
  transform: scale(1.1);
}
.navbar-item__link {
  display: flex;
  align-items: center;
}
.navbar-item__text {
  display: none;
}
.current {
  background-color: var(--bg-color-secondary);
  border-radius: 0;
  height: var(--header-height);
  width: 4.5rem;
  display: flex;
  align-items: center;
}
.navbar-items.current svg {
  transform: scale(1.1);
}
.button-menu-responsive {
  display: none;
  background-color: var(--bg-color-secondary);
  border-radius: 50%;
}
.hidden-menu {
  display: none;
  position: fixed;
  min-height: 20rem;
  width: min(100%, 20rem);
  padding: 0.8rem 1rem;
  background-color: var(--bg-color-secondary);
  top: var(--header-height);
  right: 0;
  border-bottom: 0.3rem solid var(--border-container-color);
  border-left: 0.3rem solid var(--border-container-color);
  border-bottom-left-radius: 1.5em;
  z-index: 100;
}
.show {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 1rem;
}
.menu__item-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.menu__item-link:not(.notHover):hover {
  background-color: var(--bg-color-body);
}
.to-hover:hover {
  background-color: var(--bg-color-body);
}

.to-hover:hover > svg,
.to-hover:hover > img {
  transition: filter 0.2s;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(142deg)
    brightness(105%) contrast(102%);
}
.to-hover:hover > img {
  transition: none;
}
.menu-dark-mode__bg {
  width: 3em;
  height: 1.4em;
  background-color: var(--bg-color-body);
  border-radius: 0.8rem;
}
.menu-dark-mode__button {
  width: 1.4em;
  height: 1.4em;
  background-color: white;
  border-radius: 0.8rem;
  transition: 0.3s;
}
.menu-dark-mode__button.on {
  transform: translateX(115%);
}
/*--------------Main Containers------------*/

[class^="main__container"] {
  min-width: 25%;
  height: max(20rem, 80vh);
  overflow-y: auto;
}
[class^="main__container"]::-webkit-scrollbar {
  background-color: transparent;
  width: 0.4rem;
}
[class^="main__container"]::-webkit-scrollbar-thumb {
  background-color: var(--bg-color-body);
  border-radius: 0.5rem;
}
.main__container-left {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: var(--header-height);
}
.menu-left__item-logo {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}

.form__input-container {
  display: flex;
}
.form__input {
  padding: 0.2rem;
  outline: transparent;
  border: none;
  width: max(10rem, 80%);
}
.form__button {
  background-color: var(--bg-color-body);
  color: var(--font-color-optional);
  padding: 0.2rem 0.4rem;
}
.hidden__menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.hidden__menu-img {
  grid-row: span 2;
}

@media (max-width: 500px) {
  .navbar-item {
    width: 100%;
    border-radius: 0;
    background-color: var(--bg-color-body);
    color: var(--bg-color-secondary);
  }
  .navbar-item:not(.current):hover,
  .navbar-item:not(.current):active {
    background-color: var(--bg-color-secondary);
    color: var(--font-color);
  }
  .navbar-item:not(.current):active .navbar-item__link {
    stroke: var(--font-color);
  }
  .navbar-items:not(.current):hover .navbar-item__link {
    stroke: var(--bg-color-body);
  }
  .navbar-item__link {
    gap: 1.5rem;
  }
  .navbar-item__text {
    display: block;
  }
}
@media (max-width: 650px) {
  .main__container-right {
    display: none;
  }
}
@media (max-width: 850px) {
  .header__nav {
    justify-content: space-evenly;
  }
  .header__nav__navbar {
    display: none;
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    height: calc(100vh - var(--header-height));
    max-width: none;
    padding: 1rem 0;
    align-items: center;
    background-color: var(--bg-color-body);
    z-index: 999;
  }
  .show-navbar {
    display: flex;
  }
  .navbar-item__link-svg {
    background-color: var(--bg-color-secondary);
    border-radius: 50%;
    padding: 0.3rem;
  }
  .navbar-item {
    width: 100%;
    border-radius: 0;
    background-color: var(--bg-color-body);
    color: var(--bg-color-secondary);
  }
  .navbar-item:not(.current):hover,
  .navbar-item:not(.current):active {
    background-color: var(--bg-color-secondary);
    color: var(--font-color);
  }
  .navbar-item:not(.current):active .navbar-item__link-svg {
    stroke: var(--font-color);
  }
  .navbar-item:not(.current):hover .navbar-item__link-svg {
    stroke: var(--bg-color-body);
  }
  .navbar-item__link {
    gap: 1.5rem;
  }
  .navbar-item__text {
    display: block;
  }
  .button-menu-responsive {
    display: block;
  }
}
@media (max-width: 1050px) {
  .hamburger-btn {
    display: flex;
  }
  .main__container-left {
    display: none;
  }
  .show-menu-left {
    display: flex;
    width: 100%;
    position: fixed;
    min-height: 100vh;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    background-color: var(--container-color);
    z-index: 100;
  }
}
@media (min-width: 1440px) {
  .header {
    justify-content: space-around;
  }
}
