* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Andika", sans-serif;
  box-sizing: border-box;
}
html {
  font-size: max(110%, 0.8vw);
}
body {
  background-color: var(--bg-color-secondary);
}
a {
  color: inherit;
  text-decoration: none;
}
:root {
  --bg-color-secondary: hsl(0, 0%, 90%);
  --bg-color-body: hsl(24, 100%, 50%);
  --container-bg-color: hsl(0, 0%, 39%);
  --font-color: hsl(0, 0%, 7%);
  --font-color-optional: hsl(0, 0%, 100%);
  --footer-height: 3rem;
  --header-height: 5rem;
  --header-svg-size: calc((var(--header-height) - 1rem));
  --svg-standard-size: 3rem;
}
.main {
  display: flex;
  min-height: 100vh;
  position: relative;
}
.main > * {
  width: 50%;
}
.flex-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-holder__small {
  height: 1.5rem;
  width: 1.5rem;
  background-color: gray;
  border-radius: 50%;
}
.image-holder {
  height: var(--svg-standard-size);
  width: var(--svg-standard-size);
  background-color: gray;
  border-radius: 50%;
}
.profile-image {
  margin: 0 1rem;
}
/*-----------------header---------------*/
.current {
  background-color: var(--bg-color-secondary);
  border-radius: 0;
  height: var(--header-height);
  width: 4.5rem;
  display: flex;
  align-items: center;
}
.header {
  background-color: var(--bg-color-body);
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
}
.header > a {
  display: flex;
  align-items: center;
}
.nav-log,
.nav-logo__alternative {
  height: calc(var(--header-height) - 1rem);
}
.nav-logo__alternative {
  display: none;
}
.logo:hover {
  height: 4.5rem;
}

.header__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--width-limit);
  margin: auto;
  padding: 0 1rem;
}
.header__nav__navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  min-width: 14rem;
  max-width: 20rem;
  gap: 1rem;
}
.navbar-item {
  background-color: var(--bg-color-secondary);
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
  cursor: pointer;
}
.navbar-item:not(.current):hover,
.navbar-item:not(.current):active {
  transform: scale(1.1);
}
.navbar-item__link {
  display: flex;
  align-items: center;
}
.navbar-item__text {
  display: none;
}
.current {
  background-color: var(--bg-color-secondary);
  border-radius: 0;
  height: var(--header-height);
  width: 4.5rem;
  display: flex;
  align-items: center;
}
.navbar-items.current svg {
  transform: scale(1.1);
}
.button-menu-responsive {
  display: none;
  background-color: var(--bg-color-secondary);
  border-radius: 50%;
}
.hidden-menu {
  display: none;
  position: fixed;
  min-height: 20rem;
  width: min(100%, 20rem);
  padding: 0.8rem 1rem;
  background-color: var(--bg-color-container);
  top: var(--header-height);
  right: 0;
  border-bottom: 0.3rem solid var(--container-bg-color);
  border-left: 0.3rem solid var(--container-bg-color);
  border-bottom-left-radius: 1.5em;
}
.show {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.menu-container {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
}
.menu__item-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer {
  font-size: 1em;
  display: flex;
  place-content: center space-evenly;
  flex-wrap: wrap;
  background-color: whitesmoke;
  width: 100%;
  gap: 0.4rem;
  height: var(--footer-height);
  text-decoration: underline;
}
@media (max-width: 500px) {
  .nav-log {
    display: none;
  }
  .nav-logo__alternative {
    display: block;
  }
  .navbar-item {
    width: 100%;
    border-radius: 0;
    background-color: var(--bg-color-body);
    color: var(--bg-color-secondary);
  }
  .navbar-item:not(.current):hover,
  .navbar-item:not(.current):active {
    background-color: var(--bg-color-secondary);
    color: var(--font-color);
  }
  .navbar-item:not(.current):active .navbar-item__link {
    stroke: var(--font-color);
  }
  .navbar-items:not(.current):hover .navbar-item__link {
    stroke: var(--bg-color-body);
  }
  .navbar-item__link {
    gap: 1.5rem;
  }
  .navbar-item__text {
    display: block;
  }
}
@media (max-width: 850px) {
  .header__nav {
    justify-content: space-evenly;
  }
  .header__nav__navbar {
    display: none;
    position: fixed;
    top: var(--header-height);
    flex-direction: column;
    height: calc(100vh - var(--header-height));
    max-width: none;
    padding: 1rem 0;
    width: 100%;
    align-items: center;
    background-color: var(--bg-color-body);
    z-index: 999;
  }
  .navbar-item__link-svg {
    stroke: var(--bg-color-secondary);
    fill: var(--bg-color-secondary);
  }
  .navbar-item {
    width: 100%;
    border-radius: 0;
    background-color: var(--bg-color-body);
    color: var(--bg-color-secondary);
  }
  .navbar-item:not(.current):hover,
  .navbar-item:not(.current):active {
    background-color: var(--bg-color-secondary);
    color: var(--font-color);
  }
  .navbar-item:not(.current):active .navbar-item__link-svg {
    stroke: var(--font-color);
  }
  .navbar-item:not(.current):hover .navbar-item__link-svg {
    stroke: var(--bg-color-body);
  }
  .navbar-item__link {
    gap: 1.5rem;
  }
  .navbar-item__text {
    display: block;
  }
  .button-menu-responsive {
    display: block;
  }
}
