textarea {
  font-size: inherit;
  padding-left: 0.2rem;
  resize: none;
  height: 2rem;
  overflow: hidden;
  border-radius: 0.2rem;
  border: 0;
  outline: transparent;
  background-color: inherit;
  color: inherit;
  border: thin solid var(--font-color);
}
.menu-left-chat {
  min-width: 4rem;
  max-width: 5rem;
}
.menu-container {
  flex-wrap: wrap;
}
.menu__item-link {
  width: 100%;
}
.menu__item-link > span {
  display: none;
}
.main__container-left {
  display: flex;
}
.hamburger-btn {
  display: none;
}
.chat__main-wrapper {
  padding: 2rem 2rem;
  height: var(--full-height-page);
}
.chat__main-wrapper > * {
  overflow-y: auto;
  overflow-x: hidden;
}
.chat-section {
  width: 80%;
}
.chat-section__form {
  padding: 0.4rem;
  background-color: var(--container-color);
  border-radius: 0.4rem;
}
.chat-section__img {
  width: 2rem;
  height: 2rem;
}
.chat-section__input {
  display: none;
}
.icon-container__bg {
  width: 2rem;
  height: 2rem;
  background-position: center;
  background-size: contain;
}
.chat-section__icons-wrapper {
  width: 10rem;
}
.chat-section__subtitle {
  font-size: 1.1rem;
  margin: auto;
}
.chat-section__header {
  font-size: 1.2rem;
}

@media (max-width: 700px) {
  .chat__main-wrapper {
    padding: 0.5rem;
  }
  .chat-section__top-wrapper {
    width: 100%;
  }
  .chat-section__top-wrapper .menu__item-link {
    width: 80%;
  }
  .chat-section__top-wrapper .menu__item-link span {
    display: block;
  }
  .menu-left-chat {
    display: none;
  }
  .friend-info__container span {
    display: none;
  }
  .menu__item-link {
    width: 3rem;
  }
  .chat-section__friends-container {
    width: 5rem;
  }
  .menu__item-link:not(.notHover):hover {
    background-color: transparent;
  }
  .user__image-sm {
    height: 2rem;
    width: 2rem;
  }
  .icon-container__bg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
