[class^="main__container"] {
  min-width: 25%;
  height: max(20rem, 80vh);
  background-color: var(--container-color);
  overflow-y: auto;
}
.post__container {
  background-color: var(--container-color);
  width: max(90%, 20rem);
  min-height: 20rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
.main__container-left {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.form__input-container {
  display: flex;
}
.form__input {
  padding: 0.2rem;
  outline: transparent;
  border: none;
}
.form__button {
  background-color: var(--bg-color-body);
  color: var(--font-color-optional);
  padding: 0.2rem 0.4rem;
}
.main__container-center {
  flex-grow: 2;
  padding: 1rem 0;
  background-color: transparent;
}
.select {
  font-size: inherit;
  background-color: inherit;
  height: 1.2rem;
  border-radius: 0.2em;
  border: thin solid var(--border-color);
  padding: 0 0.5rem;
}
.text-area {
  width: 90%;
  resize: none;
  min-height: 8rem;
  margin: 1rem auto;
  background-color: inherit;
  border-bottom: thin solid black;
  padding: 0.5rem;
  font-size: inherit;
}
.post__image {
  width: 95%;
}
.main__container-right {
  padding: 1rem 0.8rem;
}
