.post__container {
  background-color: var(--container-color);
  width: max(90%, 20rem);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
.main__container-center {
  flex-grow: 2;
  padding: 1rem 0;
  background-color: transparent;
}
.select {
  font-size: inherit;
  background-color: inherit;
  height: 2rem;
  border-radius: 0.2em;
  border: thin solid var(--border-color);
  padding: 0 0.5rem;
  color: var(--font-color);
}
.select > * {
  color: var(--font-color-static);
}
.text-area {
  width: 90%;
  resize: none;
  min-height: 8rem;
  margin: 1rem auto;
  background-color: inherit;
  border-bottom: thin solid var(--font-color);
  padding: 0.5rem;
  font-size: inherit;
  color: var(--font-color);
}
.post__image {
  width: 95%;
  align-self: center;
}
.main__container-right {
  padding: 1rem 0.8rem;
}
.height__min-sm {
  min-height: 2em;
}
@media (max-width: 500px) {
  .post__container {
    width: 100%;
    padding: 1rem;
  }
  [class^="main__container"]::-webkit-scrollbar {
    display: none;
  }
  [class^="main__container"]::-webkit-scrollbar-thumb {
    display: none;
  }
}
